#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

//  0  1  2  3  4       5  6  7  8  9
// 10 11 12 13 14      15 16 17 18 19
// 20 21 22 23 24      25 26 27 28 29
//       30 31 32      33 34 35

#define LEFT_KEYS 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24
#define LEFT_THUMBS 30 31 32
#define RIGHT_KEYS 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29
#define RIGHT_THUMBS 33 34 35
#define DEF 0
#define NAV 1
#define SYM 2
#define NUM 3
#define SYS 4

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };
};

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp F             &kp P                 &kp B  &kp J      &kp L                   &kp U              &kp Z    &kp SEMICOLON
&kp A  &kp R  &mt LEFT_SHIFT S  &kp T                 &kp G  &kp M      &kp N                   &mt RIGHT_SHIFT E  &kp I    &kp O
&kp Y  &kp X  &kp C             &kp D                 &kp V  &kp K      &kp H                   &kp COMMA          &kp DOT  &kp SLASH
              &kp BACKSPACE     &mt LEFT_SHIFT ENTER  &to 1  &kp ENTER  &mt LEFT_CONTROL SPACE  &mt LGUI LGUI
            >;
        };

        navigation_layer {
            bindings = <
&kp N1     &kp AT_SIGN    &kp HASH               &kp DOLLAR      &kp PERCENT  &kp CARET         &kp AMPERSAND         &kp ASTRK              &kp SEMICOLON      &kp BSPC
&kp TAB    &kp EQUAL      &kp LA(RIGHT_BRACKET)  &none           &none        &kp BACKSLASH     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE           &kp ENTER
&kp TILDE  &kp RA(RC(S))  &kp DOUBLE_QUOTES      &none           &none        &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &mt RC(A) RC(C)
                          &kp END                &kp LEFT_SHIFT  &to 2        &kp RIGHT_ALT     &to DEF               &kp BSPC
            >;
        };

        symbols_layer {
            bindings = <
&kp N2  &none  &none  &none    &none    &none  &none    &none  &none  &none
&none   &none  &none  &none    &none    &none  &none    &none  &none  &none
&none   &none  &none  &none    &none    &none  &none    &none  &none  &none
               &none  &to NUM  &to NAV  &none  &to DEF  &none
            >;
        };

        numbers-fn_layer {
            bindings = <
&kp N3  &kp F2   &kp F3   &kp F4   &kp F22  &kp MINUS  &kp N7   &kp N8  &kp N9  &kp BSPC
&kp F5  &kp F6   &kp F7   &kp F8   &kp F23  &kp PLUS   &kp N4   &kp N5  &kp N6  &kp ENTER
&kp F9  &kp F10  &kp F11  &kp F12  &kp F24  &kp EQUAL  &kp N1   &kp N2  &kp N3  &kp SLASH
                 &none    &to SYS  &to SYM  &none      &to DEF  &kp N0
            >;
        };

        system-fun_layer {
            bindings = <
&kp N4  &none  &none  &none    &none    &none  &none    &none  &none  &none
&none   &none  &none  &none    &none    &none  &none    &none  &none  &none
&none   &none  &none  &none    &none    &none  &none    &none  &none  &none
               &none  &to DEF  &to NUM  &none  &to DEF  &none
            >;
        };
    };
};
